# Урок 2. Анализ датасета с помощью Pandas

## Условие 1: 1 задача

Скачать данные по ссылке https://www.kaggle.com/datasets/shivachandel/kc-house-data <br>
Считать данные с помощью pandas <br>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('kc_house_data.csv', header = 0, encoding='utf-8')

Вывести на экран первые 5 строк <br>

In [3]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

Посмотреть на описание признаков и на их содержание <br>

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

In [5]:
for col in df.columns:
    des = df[col].unique
    print(des)

<bound method Series.unique of 0        7129300520
1        6414100192
2        5631500400
3        2487200875
4        1954400510
            ...
21608     263000018
21609    6600060120
21610    1523300141
21611     291310100
21612    1523300157
Name: id, Length: 21613, dtype: int64>
<bound method Series.unique of 0        20141013T000000
1        20141209T000000
2        20150225T000000
3        20141209T000000
4        20150218T000000
              ...
21608    20140521T000000
21609    20150223T000000
21610    20140623T000000
21611    20150116T000000
21612    20141015T000000
Name: date, Length: 21613, dtype: object>
<bound method Series.unique of 0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64>
<bound method Series.unique of 0        3
1        3
2        2
3        4
4        3
        ..
21608    3
21609    4
21610    2
21611    3
21612    2
Name: bedrooms, Length: 21613, dtype: int64>
<bound method Series.unique of 0        1.00
1        2.25
2        1.00
3        3.00
4        2.00
         ...
21608    2.50
21609    2.50
21610    0.75
21611    2.50
21612    0.75
Name: bathrooms, Length: 21613, dtype: float64>
<bound method Series.unique of 0        1180
1        2570
2         770
3        1960
4        1680
         ...
21608    1530
21609    2310
21610    1020
21611    1600
21612    1020
Name: sqft_living, Length: 21613, dtype: int64>
<bound method Series.unique of 0         5650
1         7242
2        10000
3         5000
4         8080
         ...
21608     1131
21609     5813
21610     1350
21611     2388
21612     1076
Name: sqft_lot, Length: 21613, dtype: int64>
<bound method Series.unique of 0        1.0
1        2.0
2        1.0
3        1.0
4        1.0
        ...
21608    3.0
21609    2.0
21610    2.0
21611    2.0
21612    2.0
Name: floors, Length: 21613, dtype: float64>
<bound method Series.unique of 0        0
1        0
2        0
3        0
4        0
        ..
21608    0
21609    0
21610    0
21611    0
21612    0
Name: waterfront, Length: 21613, dtype: int64>
<bound method Series.unique of 0        0
1        0
2        0
3        0
4        0
        ..
21608    0
21609    0
21610    0
21611    0
21612    0
Name: view, Length: 21613, dtype: int64>
<bound method Series.unique of 0        3
1        3
2        3
3        5
4        3
        ..
21608    3
21609    3
21610    3
21611    3
21612    3
Name: condition, Length: 21613, dtype: int64>
<bound method Series.unique of 0        7
1        7
2        6
3        7
4        8
        ..
21608    8
21609    8
21610    7
21611    8
21612    7
Name: grade, Length: 21613, dtype: int64>
<bound method Series.unique of 0        1180.0
1        2170.0
2         770.0
3        1050.0
4        1680.0
          ...
21608    1530.0
21609    2310.0
21610    1020.0
21611    1600.0
21612    1020.0
Name: sqft_above, Length: 21613, dtype: float64>
<bound method Series.unique of 0          0
1        400
2          0
3        910
4          0
        ...
21608      0
21609      0
21610      0
21611      0
21612      0
Name: sqft_basement, Length: 21613, dtype: int64>
<bound method Series.unique of 0        1955
1        1951
2        1933
3        1965
4        1987
         ...
21608    2009
21609    2014
21610    2009
21611    2004
21612    2008
Name: yr_built, Length: 21613, dtype: int64>
<bound method Series.unique of 0           0
1        1991
2           0
3           0
4           0
         ...
21608       0
21609       0
21610       0
21611       0
21612       0
Name: yr_renovated, Length: 21613, dtype: int64>
<bound method Series.unique of 0        98178
1        98125
2        98028
3        98136
4        98074
         ...
21608    98103
21609    98146
21610    98144
21611    98027
21612    98144
Name: zipcode, Length: 21613, dtype: int64>
<bound method Series.unique of 0        47.5112
1        47.7210
2        47.7379
3        47.5208
4        47.6168
          ...
21608    47.6993
21609    47.5107
21610    47.5944
21611    47.5345
21612    47.5941
Name: lat, Length: 21613, dtype: float64>
<bound method Series.unique of 0       -122.257
1       -122.319
2       -122.233
3       -122.393
4       -122.045
          ...
21608   -122.346
21609   -122.362
21610   -122.299
21611   -122.069
21612   -122.299
Name: long, Length: 21613, dtype: float64>
<bound method Series.unique of 0        1340
1        1690
2        2720
3        1360
4        1800
         ...
21608    1530
21609    1830
21610    1020
21611    1410
21612    1020
Name: sqft_living15, Length: 21613, dtype: int64>
<bound method Series.unique of 0        5650
1        7639
2        8062
3        5000
4        7503
         ...
21608    1509
21609    7200
21610    2007
21611    1287
21612    1357
Name: sqft_lot15, Length: 21613, dtype: int64>

## Условие 2: 2 задача

Проведите первичный анализ данных
Изучите типы данных

In [6]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above       float64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

Найдите количество пропущенных ячеек в данных

In [7]:
print(f'Количество пустых ячеек: {df.isnull().sum().sum()}')
for col in df.columns:
    empty_cnt = df[col].isnull().sum()
    if empty_cnt: print(f'  {col}: {empty_cnt}')

Количество пустых ячеек: 2
  sqft_above: 2

Посчитайте основные статистики по всем признакам и поизучайте их

In [8]:
df.describe(include='all')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21613,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,...,21613.000000,21611.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
unique,NaN,372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,20140623T000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,4.580302e+09,NaN,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,...,7.656873,1788.396095,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,NaN,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,...,1.175459,828.128162,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,NaN,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,...,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,NaN,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,...,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,NaN,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,...,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,NaN,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,...,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,NaN,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,...,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

Пишите выводы

> - pandas распознал многие признаки как числа (id, zipcode, ...)
> - анализировать неспецифицированные данные для получения разумного результата - плохая идея

## Условие 3: 3 задача
Ответьте на несколько вопросов

### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [9]:
print(f'{df["price"].min()} - {df["price"].max()}')

75000.0 - 7700000.0

### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [10]:
# Вопрос не понятен
np.mean(list(df['sqft_living'] / df['sqft_lot']) )

0.3237447254204737

In [11]:
df['sqft_living'].mean() / df['sqft_lot'].mean()

0.1376781757959227

In [12]:
# Так же не ясно - где здесь дом; допустим, его можно собрать по координатам и дате постройки
# Далее по заданиям будем считать дом отдельной строкой
df['House_id']=list(['_'.join(map(str, row)) for row in zip(df['lat'], df['long'], df['yr_built'])])
df_gr_houses = df.groupby('House_id')
df_agg_houses = df_gr_houses[['sqft_living', 'sqft_lot']].aggregate(np.sum)
np.mean(list([df_agg_houses['sqft_living'] / df_agg_houses['sqft_lot']]))

0.3183515019929028

### 3.3 Как много домов с разными этажами в данных?

In [13]:
# Очередной непонятный вопрос, google translate?
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

### 3.4 Насколько хорошие состояния у домов в данных?

In [14]:
# Интересно, это пятибальная шкала или стобальная?
df['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [15]:
# Допустим первый и последний дома определяются по году постройки
print(f"{df['yr_built'].min()} - {df['yr_built'].max()}")

1900 - 2015

In [16]:
# Допустим первый и последний дома определяются по номеру строки
print(f"{int(df.head(1)['yr_built'])} - {int(df['yr_built'].tail(1))}")

1955 - 2008

In [17]:
# Допустим первый и последний дома определяются по дате из записи
print(f"{int(df[df['date']==df['date'].min()]['yr_built'].min())} - {int(df[df['date']==df['date'].max()]['yr_built'].max())}")

1909 - 1924

## Условие 4: 4 задача
Ответьте на несколько вопросов

### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [18]:
df[df['bedrooms']==2]['price'].mean()

401372.681884058

### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [19]:
df[df['price'] > 600000]['sqft_lot'].mean()

20442.524776214832

### 4.3 Как много домов коснулся ремонт?

In [20]:
sum(df['yr_renovated'] > 0)

914

### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [21]:
df[df['grade'] > 10]['price'].mean() - df[df['grade'] < 4]['price'].mean()

1488885.1175298805

## Условие 5: 5 задача
Ответьте на несколько вопросов

### 5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [22]:
sum((df['waterfront'] > 0) & (df['bathrooms'] > 2) & (df['sqft_basement'] > 0))

76

### 5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [23]:
# И и ИЛИ расставил как понял. Опять непонятно сформулирован вопрос
df[
    (df['view'] == df['view'].max()) | 
    ((df['waterfront'] > 0) & (df['condition'] == 5) & (df['yr_built'] > 1980))
]['price'].agg(["min","max"])

min     252000.0
max    6885000.0
Name: price, dtype: float64

### 5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [24]:
df[
    (df['sqft_basement'] > 0) & 
    (df['floors'] > 0) &
    (df['price'] < 150000)
]['grade'].mean()

6.0